<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

        Indiquez votre nombre à traduire : <input type="text" name="number">
        <button>Submit</button>

    <script></script>
  </body>
</html>
